body{
    background-color: rgba(3, 29, 68);
}

.button{
 background-color: rgba(3, 255, 229);
 padding: 30px;
 width: 100%;
 font-size: large;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 cursor: pointer;
}

.button:hover {
    color: red; 
    transform: scale(1.1);
  }
  
  
  @keyframes textAnimation {
    0% {
      transform: scale(1);
      color: blue;
    }
    100% {
      transform: scale(1.1);
      color: red;
    }
  }
  
  .button:hover {
    animation: textAnimation 0.3s ease-in-out;
  }

.profile-text{
    text-align: center;
    color: white;
}

p{
    text-align: center;
}

.currentCharacter-image{
    justify-content: center;
}

.rick_morty-profile {
    display: flex;
    justify-content: center;
    text-align: center;
  }